<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.controller.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--SESSION-->
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.controller.session.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/session_join</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.controller.session.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/session_login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginErrorServlet</servlet-name>
        <servlet-class>com.controller.session.LoginErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginErrorServlet</servlet-name>
        <url-pattern>/session_login_error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.controller.session.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/session_logout</url-pattern>
    </servlet-mapping>


    <!--USER-->
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.controller.user.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/user_create_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreatedOrdersServlet</servlet-name>
        <servlet-class>com.controller.user.CreatedOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatedOrdersServlet</servlet-name>
        <url-pattern>/user_created_orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DoneOrdersServlet</servlet-name>
        <servlet-class>com.controller.user.DoneOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoneOrdersServlet</servlet-name>
        <url-pattern>/user_done_orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.controller.user.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/user_payment</url-pattern>
    </servlet-mapping>


    <!--ADMIN-->
    <servlet>
        <servlet-name>AllReadyOrdersServlet</servlet-name>
        <servlet-class>com.controller.admin.AllReadyOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllReadyOrdersServlet</servlet-name>
        <url-pattern>/admin_ready_orders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BillCreationServlet</servlet-name>
        <servlet-class>com.controller.admin.BillCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillCreationServlet</servlet-name>
        <url-pattern>/admin_bill_creation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmationServlet</servlet-name>
        <servlet-class>com.controller.admin.ConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmationServlet</servlet-name>
        <url-pattern>/admin_confirmation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaidOrdersServlet</servlet-name>
        <servlet-class>com.controller.admin.PaidOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaidOrdersServlet</servlet-name>
        <url-pattern>/admin_paid_orders</url-pattern>
    </servlet-mapping>


    <!--RESOURCES-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>


    <!--FILTERS-->

    <!--USE IT ONLY FOR SESSION CONTROL!!!-->
    <filter>
        <filter-name>SessionSecurityFilter</filter-name>
        <filter-class>com.controller.filters.SessionSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionSecurityFilter</filter-name>
        <url-pattern>/session_login</url-pattern>
        <url-pattern>/session_login.jsp</url-pattern>
        <url-pattern>/session_join</url-pattern>
        <url-pattern>/session_join.jsp</url-pattern>
    </filter-mapping>


    <!--FOR NOT LOGGED IN-->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.controller.filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>

        <!--user-pages-->
        <url-pattern>/user_create_order</url-pattern>
        <url-pattern>/user_create_order.jsp</url-pattern>
        <url-pattern>/user_created_orders</url-pattern>
        <url-pattern>/user_created_orders.jsp</url-pattern>
        <url-pattern>/user_done_page</url-pattern>
        <url-pattern>/user_done_page.jsp</url-pattern>
        <url-pattern>/user_payment</url-pattern>
        <url-pattern>/user_payment.jsp</url-pattern>

        <url-pattern>/about</url-pattern>
        <url-pattern>/about.jsp</url-pattern>

        <!--admin-pages-->
        <url-pattern>/admin_ready_orders</url-pattern>
        <url-pattern>/admin_ready_orders.jsp</url-pattern>
        <url-pattern>/admin_bill_creation</url-pattern>
        <url-pattern>/admin_bill_creation.jsp</url-pattern>
        <url-pattern>/admin_confirmation</url-pattern>
        <url-pattern>/admin_confirmation.jsp</url-pattern>
        <url-pattern>/admin_paid_orders</url-pattern>
        <url-pattern>/admin_paid_orders.jsp</url-pattern>

        <!--Session pages-->
        <url-pattern>/session_logout</url-pattern>
        <url-pattern>/session_logout.jsp</url-pattern>

    </filter-mapping>


    <!--FILTER FOR ADMIN PAGES-->
    <filter>
        <filter-name>RestrictionSecurityFilter</filter-name>
        <filter-class>com.controller.filters.RestrictionSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestrictionSecurityFilter</filter-name>
        <url-pattern>/admin_ready_orders</url-pattern>
        <url-pattern>/admin_ready_orders.jsp</url-pattern>
        <url-pattern>/admin_bill_creation</url-pattern>
        <url-pattern>/admin_bill_creation.jsp</url-pattern>
        <url-pattern>/admin_confirmation</url-pattern>
        <url-pattern>/admin_confirmation.jsp</url-pattern>
        <url-pattern>/admin_paid_orders</url-pattern>
        <url-pattern>/admin_paid_orders.jsp</url-pattern>
    </filter-mapping>

</web-app>